<%- include header%>
  <div class="formInput">
    <form method="GET" action="/result">
      <input type="number" name="cotacao" placeholder="Cotação dolar" step=0.01>
      <input type="number" name="quantidade" placeholder="Quantidade dolares" step=0.01>
      <button>Converter</button>
    </form>
  </div>




  <%- include footer%>